{% extends 'themes/base_admin_html.twig' %}

{% block title %} Accueil
    
{% endblock %}

{% block description %} Hello Admin
    
{% endblock %}

{% block main %}
    <h1 class="text-center display my-3 display-5" >hello {{app.user.firstName}}! </h1>
{% endblock %}