{% extends "themes/base_visitor.html.twig" %}
{% block title %} Acceuil-  Hello c'est Cécilia!{% endblock %}

{% block description %} Lisez des articles de folie!{% endblock %}

{% block keyword %}
    blog, article et du blabla
{% endblock %}

{% block main %}
	<main>
		<h1>
			hello world</h1>
	</main>
{% endblock %}

